@use 'sass:map';
@use '../../colors/qualitative/pale';
@use '../../colors/qualitative/dark';
@use '../../helpers/functions';
@use '../../settings' as *;

/**
 * Colors
 */

// Colors based on :
// - pico.css v2.1.1 | MIT License | github.com/picocss/pico
// ––––––––––––––––––––

$_schemes: (
  light: (
    bg: #fff,
    bg-grey: pale.$grey,
    bg-blue: pale.$blue,
    bg-cyan: pale.$cyan,
    bg-green: pale.$green,
    bg-yellow: pale.$yellow,
    bg-red: pale.$red,
    fg: #000,
    fg-grey: dark.$grey,
    fg-blue: dark.$blue,
    fg-cyan: dark.$cyan,
    fg-green: dark.$green,
    fg-yellow: dark.$yellow,
    fg-red: dark.$red
  ),
  dark: (
    bg: #000,
    bg-grey: dark.$grey,
    bg-blue: dark.$blue,
    bg-cyan: dark.$cyan,
    bg-green: dark.$green,
    bg-yellow: dark.$yellow,
    bg-red: dark.$red,
    fg: #fff,
    fg-grey: pale.$grey,
    fg-blue: pale.$blue,
    fg-cyan: pale.$cyan,
    fg-green: pale.$green,
    fg-yellow: pale.$yellow,
    fg-red: pale.$red
  )
);

@function _get($name, $scheme) {
  @return map.get(map.get($_schemes, $scheme), $name);
}

@mixin theme($scheme) {
  color-scheme: $scheme;
  #{$css-var-prefix}background-color: _get(bg, $scheme);

  // Text color
  #{$css-var-prefix}color: _get(fg, $scheme);

  // Text selection color
  #{$css-var-prefix}text-selection-color: _get(bg-cyan, $scheme);

  // Muted colors
  #{$css-var-prefix}muted-color: _get(fg-grey, $scheme);
  #{$css-var-prefix}muted-border-color: _get(bg-grey, $scheme);

  // Primary colors
  #{$css-var-prefix}primary: _get(fg-blue, $scheme);
  #{$css-var-prefix}primary-background: _get(bg-blue, $scheme);
  #{$css-var-prefix}primary-border: var(#{$css-var-prefix}primary-background);
  #{$css-var-prefix}primary-underline: #{rgba(_get(fg-blue, $scheme), 0.5)};
  #{$css-var-prefix}primary-hover: var(#{$css-var-prefix}primary);
  #{$css-var-prefix}primary-hover-background: var(#{$css-var-prefix}primary-background);
  #{$css-var-prefix}primary-hover-border: var(#{$css-var-prefix}primary-hover-background);
  #{$css-var-prefix}primary-hover-underline: var(#{$css-var-prefix}primary-hover);
  #{$css-var-prefix}primary-focus: var(#{$css-var-prefix}primary);
  #{$css-var-prefix}primary-inverse: var(#{$css-var-prefix}background-color);

  // Secondary colors
  #{$css-var-prefix}secondary: _get(fg-cyan, $scheme);
  #{$css-var-prefix}secondary-background: _get(bg-cyan, $scheme);
  #{$css-var-prefix}secondary-border: var(#{$css-var-prefix}secondary-background);
  #{$css-var-prefix}secondary-underline: #{rgba(_get(fg-cyan, $scheme), 0.5)};
  #{$css-var-prefix}secondary-hover: var(#{$css-var-prefix}secondary);
  #{$css-var-prefix}secondary-hover-background: var(#{$css-var-prefix}secondary-background);
  #{$css-var-prefix}secondary-hover-border: var(#{$css-var-prefix}secondary-hover-background);
  #{$css-var-prefix}secondary-hover-underline: var(#{$css-var-prefix}secondary-hover);
  #{$css-var-prefix}secondary-focus: var(#{$css-var-prefix}secondary);
  #{$css-var-prefix}secondary-inverse: var(#{$css-var-prefix}background-color);

  // Contrast colors
  #{$css-var-prefix}contrast: #{$css-var-prefix}color;
  #{$css-var-prefix}contrast-background: _get(fg-grey, $scheme);
  #{$css-var-prefix}contrast-border: var(#{$css-var-prefix}contrast-background);
  #{$css-var-prefix}contrast-underline: #{rgba(_get(fg, $scheme), 0.5)};
  #{$css-var-prefix}contrast-hover: var(#{$css-var-prefix}contrast);
  #{$css-var-prefix}contrast-hover-background: var(#{$css-var-prefix}contrast-background);
  #{$css-var-prefix}contrast-hover-border: var(#{$css-var-prefix}contrast-hover-background);
  #{$css-var-prefix}contrast-hover-underline: var(#{$css-var-prefix}contrast-hover);
  #{$css-var-prefix}contrast-focus: var(#{$css-var-prefix}contrast);
  #{$css-var-prefix}contrast-inverse: var(#{$css-var-prefix}background-color);

  // Box shadow
  #{$css-var-prefix}box-shadow: functions.shadow(_get(fg-grey, $scheme));

  // Typography
  // Headings colors
  #{$css-var-prefix}h1-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}h2-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}h3-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}h4-color: var(#{$css-var-prefix}muted-color);
  #{$css-var-prefix}h5-color: var(#{$css-var-prefix}muted-color);
  #{$css-var-prefix}h6-color: var(#{$css-var-prefix}muted-color);

  // Highlighted text (<mark>)
  #{$css-var-prefix}mark-background-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}mark-color: var(#{$css-var-prefix}background-color);

  // Inserted (<ins>) & Deleted (<del>)
  #{$css-var-prefix}ins-color: _get(fg-green, $scheme);
  #{$css-var-prefix}del-color: _get(fg-red, $scheme);

  // Blockquote
  #{$css-var-prefix}blockquote-border-color: var(#{$css-var-prefix}muted-border-color);
  #{$css-var-prefix}blockquote-footer-color: var(#{$css-var-prefix}muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  #{$css-var-prefix}button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  #{$css-var-prefix}button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Table
  #{$css-var-prefix}table-border-color: var(#{$css-var-prefix}muted-border-color);
  #{$css-var-prefix}table-row-stripped-background-color: #{rgba(_get(bg-grey, $scheme), 0.375)};

  // Code
  #{$css-var-prefix}code-background-color: var(#{$css-var-prefix}background-color);
  #{$css-var-prefix}code-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}code-kbd-background-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}code-kbd-color: var(#{$css-var-prefix}background-color);

  // Form elements
  #{$css-var-prefix}form-element-background-color: var(#{$css-var-prefix}background-color);
  #{$css-var-prefix}form-element-selected-background-color: var(#{$css-var-prefix}background-color);
  #{$css-var-prefix}form-element-border-color: var(#{$css-var-prefix}muted-border-color);
  #{$css-var-prefix}form-element-color: var(#{$css-var-prefix}color);
  #{$css-var-prefix}form-element-placeholder-color: var(#{$css-var-prefix}muted-color);
  #{$css-var-prefix}form-element-active-background-color: var(#{$css-var-prefix}background-color);
  #{$css-var-prefix}form-element-active-border-color: var(#{$css-var-prefix}primary-border);
  #{$css-var-prefix}form-element-focus-color: var(#{$css-var-prefix}primary-border);
  #{$css-var-prefix}form-element-disabled-opacity: 0.5;
  #{$css-var-prefix}form-element-invalid-border-color: #{_get(fg-red, $scheme)};
  #{$css-var-prefix}form-element-invalid-active-border-color: #{_get(fg-red, $scheme)};
  #{$css-var-prefix}form-element-invalid-focus-color: var(#{$css-var-prefix}form-element-invalid-active-border-color);
  #{$css-var-prefix}form-element-valid-border-color: #{_get(fg-green, $scheme)};
  #{$css-var-prefix}form-element-valid-active-border-color: #{_get(fg-green, $scheme)};
  #{$css-var-prefix}form-element-valid-focus-color: var(#{$css-var-prefix}form-element-valid-active-border-color);

  // Form validation icons
  #{$css-var-prefix}icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{_get(fg-green, $scheme)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  #{$css-var-prefix}icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{_get(fg-red, $scheme)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

  // Focus for buttons, radio and select
  input:is([type='submit'], [type='button'], [type='reset'], [type='checkbox'], [type='radio'], [type='file']) {
    #{$css-var-prefix}form-element-focus-color: var(#{$css-var-prefix}primary-focus);
  }

  // Chevron icons
  #{$css-var-prefix}icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{_get(fg-grey, $scheme)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}
