@use 'sass:map';
@use '../settings' as *;

/**
 * Styles
 */

// Styles based on :
// - pico.css v2.1.1 | MIT License | github.com/picocss/pico
// ––––––––––––––––––––

:root,
:host {
  // Typography
  #{$css-var-prefix}font-family-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  #{$css-var-prefix}font-family-sans-serif:
    system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue', sans-serif,
    var(#{$css-var-prefix}font-family-emoji);
  #{$css-var-prefix}font-family-monospace:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace,
    var(#{$css-var-prefix}font-family-emoji);
  #{$css-var-prefix}font-family: var(#{$css-var-prefix}font-family-sans-serif);
  #{$css-var-prefix}line-height: 1.5;
  #{$css-var-prefix}font-weight: 400;
  #{$css-var-prefix}font-size: 100%;
  #{$css-var-prefix}text-underline-offset: 0.1rem;

  // Borders
  #{$css-var-prefix}border-radius: 0.25rem;
  #{$css-var-prefix}border-width: 0.0625rem;
  #{$css-var-prefix}outline-width: 0.125rem;

  // Transitions
  #{$css-var-prefix}transition: 0.2s ease-in-out;

  // Spacings
  #{$css-var-prefix}spacing: 1rem;

  // Spacings for typography elements
  #{$css-var-prefix}typography-spacing-vertical: 1rem;

  // Spacings for body > header, body > main, body > footer, section, article
  #{$css-var-prefix}block-spacing-vertical: var(#{$css-var-prefix}spacing);
  #{$css-var-prefix}block-spacing-horizontal: var(#{$css-var-prefix}spacing);

  // Spacings for form elements and button
  #{$css-var-prefix}form-element-spacing-vertical: 0.75rem;
  #{$css-var-prefix}form-element-spacing-horizontal: 1rem;

  // Font weight for form labels & fieldsets legend
  #{$css-var-prefix}form-label-font-weight: var(#{$css-var-prefix}font-weight);

  // Spacings for nav component
  #{$css-var-prefix}nav-element-spacing-vertical: 1rem;
  #{$css-var-prefix}nav-element-spacing-horizontal: 0.5rem;
  #{$css-var-prefix}nav-link-spacing-vertical: 0.5rem;
  #{$css-var-prefix}nav-link-spacing-horizontal: 0.5rem;
  #{$css-var-prefix}nav-breadcrumb-divider: '>';

  // Responsive font size
  @each $key, $values in $breakpoints {
    @if $values {
      @media (min-width: map.get($values, 'breakpoint')) {
        #{$css-var-prefix}font-size: map.get($values, 'font-size');
      }
    }
  }

  // Responsive spacings
  // Landmarks and section
  body > header,
  body > main,
  body > footer,
  section {
    @each $key, $values in $breakpoints {
      @if $values {
        @media (min-width: map.get($values, 'breakpoint')) {
          $multiplier: 1;
          @if $key == 'sm' {
            $multiplier: 1.25;
          } @else if $key == 'md' {
            $multiplier: 1.5;
          } @else if $key == 'lg' {
            $multiplier: 1.75;
          } @else if $key == 'xl' {
            $multiplier: 2;
          } @else if $key == 'xxl' {
            $multiplier: 2.25;
          }

          #{$css-var-prefix}block-spacing-vertical: calc(var(#{$css-var-prefix}spacing) * $multiplier);
        }
      }
    }
  }

  // Link
  a {
    #{$css-var-prefix}text-decoration: underline;
  }

  // Typography
  // Small
  small {
    #{$css-var-prefix}font-size: 0.875em;
  }

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    #{$css-var-prefix}font-weight: 700;
  }

  h1 {
    #{$css-var-prefix}font-size: 2rem;
    #{$css-var-prefix}line-height: 1.125;
    #{$css-var-prefix}typography-spacing-top: 3rem;
  }

  h2 {
    #{$css-var-prefix}font-size: 1.75rem;
    #{$css-var-prefix}line-height: 1.15;
    #{$css-var-prefix}typography-spacing-top: 2.625rem;
  }

  h3 {
    #{$css-var-prefix}font-size: 1.5rem;
    #{$css-var-prefix}line-height: 1.175;
    #{$css-var-prefix}typography-spacing-top: 2.25rem;
  }

  h4 {
    #{$css-var-prefix}font-size: 1.25rem;
    #{$css-var-prefix}line-height: 1.2;
    #{$css-var-prefix}typography-spacing-top: 1.874rem;
  }

  h5 {
    #{$css-var-prefix}font-size: 1.125rem;
    #{$css-var-prefix}line-height: 1.225;
    #{$css-var-prefix}typography-spacing-top: 1.6875rem;
  }

  h6 {
    #{$css-var-prefix}font-size: 1rem;
    #{$css-var-prefix}line-height: 1.25;
    #{$css-var-prefix}typography-spacing-top: 1.5rem;
  }

  // Table
  thead,
  tfoot {
    th,
    td {
      #{$css-var-prefix}font-weight: 600;
      #{$css-var-prefix}border-width: 0.1875rem;
    }
  }

  // Code
  pre,
  code,
  kbd,
  samp {
    #{$css-var-prefix}font-family: var(#{$css-var-prefix}font-family-monospace);
  }

  kbd {
    #{$css-var-prefix}font-weight: bolder;
  }

  // Inputs and Selects
  input:not([type='submit'], [type='button'], [type='reset'], [type='checkbox'], [type='radio'], [type='file']),
  :where(select, textarea) {
    #{$css-var-prefix}outline-width: 0.0625rem;
  }

  [type='search'] {
    #{$css-var-prefix}border-radius: 5rem;
  }

  // https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
  body > a[href='#mainContent'] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
      position: static;
      width: auto;
      height: auto;
    }
  }

  // Landmark: header
  body > header {
    background-color: rgba(var(#{$css-var-prefix}background-color), 0.1);
    backdrop-filter: blur(16px);

    @media (min-width: map.get(map.get($breakpoints, 'lg'), 'breakpoint')) {
      position: sticky;
      top: 0;
    }

    nav,
    nav ul {
      @media (max-width: map.get(map.get($breakpoints, 'sm'), 'breakpoint')) {
        flex-direction: column;
      }
    }

    nav li {
      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }

    // Top nav
    nav:first-of-type {
      ul:first-of-type {
        margin-left: 0;

        // Logo
        li:first-of-type {
          a {
            background-color: var(#{$css-var-prefix}contrast-background);
            background-size: contain;

            width: $logo-size;
            height: $logo-size;
            @each $key, $values in $breakpoints {
              @media (min-width: map.get($values, 'breakpoint')) {
                width: map.get($values, 'logo-size');
                height: map.get($values, 'logo-size');
              }
            }
          }

          &::before {
            content: '';
          }

          &::after {
            content: '';
          }
        }
      }

      ul:last-of-type {
        margin-right: 0;

        // Theme toggle
        a[data-action='theme#toggle'] {
          &::after {
            content: var(#{$css-var-prefix}theme-toggle-after-content);
          }
        }
      }
    }
  }

  // Landmark: main
  body > main {
    > header {
      padding-bottom: var(#{$css-var-prefix}block-spacing-vertical);

      hgroup {
        text-align: center;
      }
    }
  }

  // Landmark: footer
  body > footer {
    display: flex;
    justify-content: center;
    color: var(#{$css-var-prefix}muted-color);
  }
}
